.user-top{width: 100%;background: url(../images/index/index-header.png) 0 0 no-repeat /100% 100%;padding: .4rem 0;
    box-shadow:0 -6px 5px #c5c5c5 inset;
}
.user-head {width: 100%;text-align: center;}
.user-head img{ width: 1.2rem; height: 1.2rem; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;}
.user-top-msg{width: 100%;display: flex;align-items: center;margin-top: .2rem}
.user-top-msg li{flex: 1;color: #fff;text-align: center;font-size: .28rem}
.vip-set{width: 100%;text-align: center;height: 1.4rem;line-height: 1.4rem;background: #faf9ef;color: #0d8df6;font-size: .38rem;}
.setlistbox{width:100%;background: #f9f8ee}
.setlistbox ul{display: flex;padding: .4rem 0 .2rem 0;background: #fff;margin-bottom: .1rem}
.setlistbox ul li{width: 33.3%;text-align: center;}
.setlistbox ul li:nth-child(2){border-left: 1px solid #7b9cc2;border-right: 1px solid #7b9cc2}
.setlistbox ul li img{width: 1rem;}
.setlistbox ul li a p{color: #000;font-size: .24rem;padding: .1rem 0;}
.setlistbox ul.twolist li{width: 50%;}
.setlistbox ul.twolist li:nth-child(2){border-right: none;}
.setlistbox ul.twolist li a{display: flex;align-items: center;margin-left: .6rem;}
.loginout{width: 100%;margin: .5rem 0 1.5rem 0;}
.loginout a{font-size: .28rem; display: block; border-radius:.4rem;margin: 0 auto; width: 60%; padding: .2rem; text-align: center; background: #d9bc59; color: #fff; -webkit-border-radius:.4rem; -moz-border-radius:.4rem; -ms-border-radius:.4rem; -o-border-radius:.4rem; }
/* 底部 */
.footer-fan{

    position: fixed;
    height: 46px;
    background-color: #0290F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.footer-fan a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color:#fff;
    border-right:1px solid #1682D0;
    flex:1;
}
.footer-fan a:last-child{
    border-right: none;
}
.footer-fan a img{
    width: 26px;
    height: 26px;
}